<!-- Store this code in 'register.html' file inside the 'templates' folder -->

<html>

<head>
    <meta charset="UTF-8">
    <title> Save Credentials </title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			 -->
</head>

<body></br></br></br></br></br>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Save Credentials</h1>
            </div></br></br></br>
            <!-- {% if flag %}
            <div> Entries cannot be empty</div>
            {% endif %} -->
            <h2 class="word">
                <form id="myForm" method="POST" action="{{ url_for('save_creds') }}">
                    <input id="url" name="webpage_url" type="text" placeholder="Enter Your website url"
                        class="textbox" /></br></br>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username"
                        class="textbox" /></br></br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password"
                        class="textbox" />
                    <button id="genpass" onclick="updateDiv()">generate password</button> </br></br>
                    <input id="email" name="email" type="text" placeholder="Enter Your Email ID"
                        class="textbox" /></br></br>
                    <input type="submit" class="btn" value="Save"></br>
                </form>
            </h2>
        </div>
    </div>
    <script>
        // const button = document.getElementById('genpass');
        // button.addEventListener('click', () => {
        //     fetch('http://localhost:5000/generatepassword')
        //         .then(response => console.log(response.json()))
        //         .then(data => data)
        //         .catch(error => console.error(error));
        // });

        function insertData() {
            // fetch('http://localhost:5000/generatepassword')
            //     .then(response => response.json())
            //     .then(data => data)
            //     .catch(error => console.error(error));
            console.log("here")
        }

        function updateDiv() {
            var div = document.getElementById("password");
            div.innerHTML = "New Content";
        }


    </script>
</body>

</html>